/*-----------------------
Product Detail Page Image
-------------------------*/

.product-image-group {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--brd-radius-1);
    border-color: var(--clr-grey-5);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.product-main-image {
    width: 100%;
    position: absolute;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    background-color: var(--clr-white);
}

.product-second-image {
    background-color: var(--clr-white);
    width: 100%;
    position: absolute;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: none;
}

.close-btn {
    margin: 15px;
    height: 30px;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: none;
}


/*--------------------
Product Variant Slider
----------------------*/

.swiper-wrapper {
    cursor: pointer;
}

.variant-image {
    border-radius: var(--brd-radius-1);
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.variantSlider .swiper-pagination {
    position: relative;
    margin: 12px 0px 0px 0px;
}

.variantSlider .swiper-pagination-bullet-active {
    background-color: var(--clr-grey-2);
    transform: scale(1.1);
}


/*-------------------
Product Description
---------------------*/

.expand-more-content {
    height: 20px;
    overflow: hidden;
    transition: height ease-in-out 0.5s;
    position: relative;
}

.expand-more-content.expand-active {
    height: auto;
    transition: height ease-in-out 0.5s;
}

.expand-more-holder {
    padding: 15px 0;
}

.btn-expand-more {
    cursor: pointer;
    display: contents;
}


/*------------------
Reverse Accordion List
--------------------*/

.description {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.description li {
    padding: 7px 7px;
    border-top: 1px solid;
    border-color: var(--clr-grey-5);
}

.list-item-text {
    margin: 0%;
    text-transform: capitalize;
}


/* Accordion Item */

.expand-more-list {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.5s;
    position: relative;
}

.expand-more-list.expand-active {
    height: auto;
    transition: height ease 3s;
}


/* Accordion Button */

.des-button li p {
    font-weight: bold;
}

.des-button li {
    border-bottom: 1px solid;
    border-color: var(--clr-grey-5);
}

.close-btn path {
    fill: var(--clr-grey-5)
}