{% load static %}


<div class="container mt-5">

    <!-- Card picture on left -->
    <div class="abo-p">
        <div class="row abo-row">
        
            <!-- Banner Image Area -->
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 abo-img">
                <img src="{% static 'img/sli11.jpg' %}" alt="Windows Firewall">
            </div>

            <!-- Banner İnfo Area -->
            <div class="col-xl-7 col-lg-7  abo-info">
                <div>
                    <h1>1973</h1>
                    <h4>Hisar Tekstil firmasının kuruluşu</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatibus dolores, eveniet sunt omnis odit neque libero veniam delectus ducimus. 
                        Porro exercitationem veritatis excepturi eveniet amet fuga, 
                        quibusdam officiis ex reprehenderit, cum unde. 
                        Velit, aliquam eaque? Rerum totam fugit culpa odit, deserunt tenetur nostrum 
                        voluptate aut quaerat, vero eaque. Iusto, facilis?            
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 d-none d-sm-none d-md-none d-lg-block">

    <!-- Card picture on right -->
    <div class="abo-p mt-5">
        <div class="row abo-row flex-md-column-reverse flex-sm-column-reverse flex-column-reverse flex-lg-row">

            <!-- Banner İnfo Area -->
            <div class="col-xl-7 col-lg-7  abo-info abo-info-right">
                <div>
                    <h1>1980</h1>
                    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatibus dolores, eveniet sunt omnis odit neque libero veniam delectus ducimus. 
                        Porro exercitationem veritatis excepturi eveniet amet fuga, 
                        quibusdam officiis ex reprehenderit, cum unde. 
                        Velit, aliquam eaque? Rerum totam fugit culpa odit, deserunt tenetur nostrum 
                        voluptate aut quaerat, vero eaque. Iusto, facilis?            
                    </p>
                </div>
            </div>

            <!-- Banner Image Area -->
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 abo-img">
                <img src="{% static 'img/cnt.png' %}" alt="Windows Firewall">
            </div>
             
        </div>
    </div>

    <hr class="mt-5 d-none d-sm-none d-md-none d-lg-block">

    <!-- Card picture on left -->
    <div class="abo-p mt-5">
        <div class="row abo-row">
        
            <!-- Banner Image Area -->
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 abo-img">
                <img src="{% static 'img/sli11.jpg' %}" alt="Windows Firewall">
            </div>

            <!-- Banner İnfo Area -->
            <div class="col-xl-7 col-lg-7  abo-info">
                <div>
                    <h1>1986</h1>
                    <h4>Hisar Tekstil firmasının kuruluşu</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatibus dolores, eveniet sunt omnis odit neque libero veniam delectus ducimus. 
                        Porro exercitationem veritatis excepturi eveniet amet fuga, 
                        quibusdam officiis ex reprehenderit, cum unde. 
                        Velit, aliquam eaque? Rerum totam fugit culpa odit, deserunt tenetur nostrum 
                        voluptate aut quaerat, vero eaque. Iusto, facilis?            
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 d-none d-sm-none d-md-none d-lg-block">

    <!-- Card picture on right -->
    <div class="abo-p mt-5">
        <div class="row abo-row flex-md-column-reverse flex-sm-column-reverse flex-column-reverse flex-lg-row">

            <!-- Banner İnfo Area -->
            <div class="col-xl-7 col-lg-7  abo-info abo-info-right">
                <div>
                    <h1>1997</h1>
                    <h4>Future Boss birth</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatibus dolores, eveniet sunt omnis odit neque libero veniam delectus ducimus. 
                        Porro exercitationem veritatis excepturi eveniet amet fuga, 
                        quibusdam officiis ex reprehenderit, cum unde. 
                        Velit, aliquam eaque? Rerum totam fugit culpa odit, deserunt tenetur nostrum 
                        voluptate aut quaerat, vero eaque. Iusto, facilis?            
                    </p>
                </div>
            </div>

            <!-- Banner Image Area -->
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 abo-img">
                <img src="{% static 'img/cnt.png' %}" alt="Windows Firewall">
            </div>
                
        </div>
    </div>

</div>