{% load static %}

<div class="container mt-5">

    <div class="row ctgr-row">

        <!-- Banner Items 1 -->
        <div class="col-lg-3 col-6 ">
            <div class="ctgr-banner">
                <img src="{% static 'img/gıf.gif' %}" alt="Windows Firewall">
                <div class="ctgr-info">
                    <h5>Explore...</h5>
                </div>
                <a href=".."></a>
            </div>
        </div>
        <!-- Banner Items 2 -->
        <div class="col-lg-3 col-6 ">
            <div class="ctgr-banner">
                <img src="{% static 'img/cb (1).jpg' %}" alt="Windows Firewall">
                <div class="ctgr-info">
                    <h5>Curtain</h5>
                </div>
                <a href=".."></a>
            </div>
        </div>
        <!-- Banner Items 3 -->
        <div class="col-lg-3 col-6 ">
            <div class="ctgr-banner">
                <img src="{% static 'img/cb (2).jpg' %}" alt="Windows Firewall">
                <div class="ctgr-info">
                    <h5>Tulle</h5>
                </div>
                <a href=".."></a>
            </div>
        </div>
        <!-- Banner Items 4 -->
        <div class="col-lg-3 col-6 ">
            <div class="ctgr-banner">
                <img src="{% static 'img/cb (3).jpg' %}" alt="Windows Firewall">
                <div class="ctgr-info">
                    <h5>Upholstery</h5>
                </div>
                <a href=".."></a>
            </div>
        </div>

    </div>

</div>

