{% load static %}


<div class="container mt-5">

    <div class="cnt-p">
        <div class="row cnt-row flex-md-column-reverse flex-sm-column-reverse flex-column-reverse flex-lg-row">

            <!-- Banner İnfo Area -->
            <div class="col-xl-7 col-lg-7  cnt-info">
                <div>
                    <h3>Lorem ipsum dolor sit amet consectetur</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatibus dolores, eveniet sunt omnis odit neque libero veniam delectus ducimus. 
                        Porro exercitationem veritatis excepturi eveniet amet fuga, 
                        quibusdam officiis ex reprehenderit, cum unde. 
                        Velit, aliquam eaque? Rerum totam fugit culpa odit, deserunt tenetur nostrum 
                        voluptate aut quaerat, vero eaque. Iusto, facilis?            
                    </p>
                    <div class="mt-4">
                        <a class="abtn-outline" href="">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Banner Image Area -->
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 cnt-img">
                <img src="{% static 'img/cnt.png' %}" alt="Windows Firewall">
            </div>
            
            
        </div>
    </div>
</div>

