{% load static %}


<div class="container mt-5">

    <div class="news-header d-flex align-items-end">
            <h1>News</h1>
            <h5 class="ms-auto"><a href="">Wiew All</a></h5>

    </div>

    <div class="swiper newsSwiper">
        <div class="swiper-wrapper news-wrapper">

            <div class="swiper-slide news-slide">
                <div class="news-card h-100">
                    <div class="news-image">
                        <img class="" src="{% static 'img/sli2.jpg' %}" alt="">
                    </div>
                    <div class="news-info">
                        <h5>Renarte Heimtextile 2022</h5>
                    </div>
                    <a href=""></a>
                </div>
            </div>

            <div class="swiper-slide news-slide">
                <div class="news-card">
                    <div class="news-image">
                        <img class="" src="{% static 'img/sli2.jpg' %}" alt="">
                    </div>
                    <div class="news-info">
                        <h5>Renarte Heimtextile 2022</h5>
                    </div>
                    <a href=""></a>
                </div>
            </div>
            
            <div class="swiper-slide news-slide">
                <div class="news-card">
                    <div class="news-image">
                        <img class="" src="{% static 'img/sli2.jpg' %}" alt="">
                    </div>
                    <div class="news-info">
                        <h5>Renarte Heimtextile</h5>
                    </div>
                    <a href=""></a>
                </div>
            </div>

            <div class="swiper-slide news-slide">
                <div class="news-card">
                    <div class="news-image">
                        <img class="" src="{% static 'img/sli2.jpg' %}" alt="">
                    </div>
                    <div class="news-info">
                        <h5>Renarte Heimtextile 2022</h5>
                    </div>
                    <a href=""></a>
                </div>
            </div>
        </div>

        <div class="swiper-pagination news-pagination"></div>

    </div>
</div>