<ul class="description mt-3">
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>denem</span>
            <span>deneme</span>
        </p>
    </li>
</ul>

<!-- Accardion -->
<ul class="description expand-more-list" id="ShowMoreContent2">
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
    <li>
        <p class="d-flex justify-content-between list-item-text">
            <span>collapse text</span>
            <span>deneme</span>
        </p>
    </li>
</ul>

<!-- Accordion Button -->
<ul class="description des-button">
    <li>
        <p class="list-item-text button">
            <span id="expand-more" data-hidetext="Less Description" data-showtext="More Description" data-target="ShowMoreContent2" class="btn-expand-more">More Description</span>
        </p>
    </li>
</ul>