<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
 
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="
                        {% if parameter %}
                            {% if request.GET.page %}
                                {% with pager='&page='|add:request.GET.page pager2='?page='|add:request.GET.page%}
                                    {% if '&page=' in request.get_full_path %}
                                        {{ request.get_full_path|cut:pager }}&page={{ 1 }}
                                    {% else %}
                                        {{ request.get_full_path|cut:pager2 }}?page={{ 1 }}
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                {{ request.get_full_path }}&page={{ 1 }}
                            {% endif %}
                        {% else %}
                            ?page=1
                        {% endif %}" 
                        class="page-link">
                            <i class="bi bi-chevron-double-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a href="
                        {% if parameter %}
                            {% if request.GET.page %}
                                {% with pager='&page='|add:request.GET.page pager2='?page='|add:request.GET.page%}
                                    {% if '&page=' in request.get_full_path %}
                                        {{ request.get_full_path|cut:pager }}&page={{ page_obj.previous_page_number }}
                                    {% else %}
                                        {{ request.get_full_path|cut:pager2 }}?page={{ page_obj.previous_page_number }}
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                {{ request.get_full_path }}&page={{ page_obj.previous_page_number }}
                            {% endif %}
                        {% endif %}" 
                        class="page-link"><i class="bi bi-chevron-left"></i></a>
                </li>
            {% else %}
                <li class="page-item invisible">
                    <a href="#" class="page-link"><i class="bi bi-chevron-double-left"></i> </a>
                </li>
                <li class="page-item invisible">
                    <a href="#" class="page-link"><i class="bi bi-chevron-left"></i></a>
                </li>
            {% endif %}

        
            {% for index in page_indexs  %}
                {% for current in current_list  %}
                    {% if index == current %}
                        <li class="page-item active">
                            <a href="{{ request.get_full_path }}" class="page-link">
                                {{ index }}
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item ">
                            <a href="
                                {% if parameter %}
                                    {% if request.GET.page %}
                                        {% with pager='&page='|add:request.GET.page pager2='?page='|add:request.GET.page %}
                                            {% if '&page=' in request.get_full_path %}
                                                {{ request.get_full_path|cut:pager }}&page={{ index }}
                                            {% else %}
                                                {{ request.get_full_path|cut:pager2 }}?page={{ index }}
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        {{ request.get_full_path }}&page={{ index }}
                                    {% endif %}
                                {% else %}
                                    ?page={{ index }}
                                {% endif %}" 
                                class="page-link">
                                {{ index }}
                            </a>
                        </li>
                    {% endif %}
                {%endfor%}
            {%endfor%}
            

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="
                    {% if parameter %}
                            {% if request.GET.page %}
                                {% with pager='&page='|add:request.GET.page pager2='?page='|add:request.GET.page%}
                                    {% if '&page=' in request.get_full_path %}
                                        {{ request.get_full_path|cut:pager }}&page={{ page_obj.next_page_number }}
                                    {% else %}
                                        {{ request.get_full_path|cut:pager2 }}?page={{ page_obj.next_page_number }}
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                {{ request.get_full_path }}&page={{ page_obj.next_page_number }}
                            {% endif %}
                        {% endif %}"
                    class="page-link"><i class="bi bi-chevron-right"></i></a>
                </li>
                <li class="page-item">
                    <a href="
                    {% if parameter %}
                            {% if request.GET.page %}
                                {% with pager='&page='|add:request.GET.page pager2='?page='|add:request.GET.page%}
                                    {% if '&page=' in request.get_full_path %}
                                        {{ request.get_full_path|cut:pager }}&page={{page_obj.paginator.num_pages }}
                                    {% else %}
                                        {{ request.get_full_path|cut:pager2 }}?page={{page_obj.paginator.num_pages }}
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                {{ request.get_full_path }}&page={{page_obj.paginator.num_pages}}
                            {% endif %}
                        {% else %}
                            ?page=1
                        {% endif %}"  
                        class="page-link"><i class="bi bi-chevron-double-right"></i></a>
                </li>
            {% else %}
                <li class="page-item invisible">
                    <a href="#" class="page-link"><i class="bi bi-chevron-right"></i></a>
                </li>
                <li class="page-item invisible">
                    <a href="#" class="page-link"><i class="bi bi-chevron-double-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>